.wrapper {
    width: 1920px;
    height: 1080px;
}

.cover_img {
    background-image: url('../img/image1.png');
    background-size: cover;
    margin-top: 22px;
    display: flex;
    position: relative;
    width: 100%;
    height: 908px;
}

.text_yellow {
    position: absolute;
    width: 518px;
    height: 124px;
    top: 192px;
    left: 674px;
    text-align: right;
    font: normal normal normal 50px/64px Rubik;
    letter-spacing: 3.5px;
    color: #FDD000;
    text-transform: uppercase;
}

.text_white {
    position: absolute;
    top: 360px;
    left: 638px;
    width: 554px;
    height: 144px;
    text-align: right;
    font: normal normal 300 30px/40px Rubik;
    letter-spacing: 0.6px;
    color: #DFDFDF;
}

